
li a{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

ul{
    
    border: 3px solid #73AD21;
    list-style-type: none;
    position: absolute;
    left: 350px;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(105,69,215,1) 36%, rgba(0,255,175,1) 100%);
    background-attachment: fixed;
}

h1{
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 10px greenyellow;
    position: fixed;
    width: 500px;
    height: 200px;
    top: 12.5%;
    left: 50%;
    margin-top: -100px; /* Negative half of height. */
    margin-left: -250px;
}
header{
    position: fixed;
    width: 100%;
    height: 60px;
    background: black;
    z-index: 3;
}
a:link {
    color: rgb(255, 255, 255);
}

a:visited{
    color: rgb(228, 255, 130)
}
a:hover {
    color: hotpink;
}

.navi{
    position: absolute;
    width: 250px;
    float: left;
    border: 3px solid #73AD21;
}

p{
    padding-left: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}